* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  /* overflow-x: hidden; */
}
body {
  font-size: 1.6rem;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 1.2rem;
  height: 5px;
  border-radius: 0.8rem;
}
body::-webkit-scrollbar-thumb {
  background: #191c32;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
.wrapper {
  background-color: #191c32;
  color: white;
  height: 100vh;
  width: 100vw;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.brand span {
  color: aqua;
}
.nav--menu {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  width: 50%;
}

.nav--menu li {
  list-style: none;
}
.nav--menu a {
  color: white;
  padding: 1rem 1.2rem;
  text-decoration: none;
}

.nav--menu .active {
  color: aqua;
}
.nav--menu .active:hover {
  background-color: lightsalmon;
  color: black;
  transition: ease-in 0.4s;
}

.main {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80vh;
  width: 81vw;
  margin: 0 auto;
}

.content h1 {
  font-size: 4.5rem;
}
.content span {
  color: aqua;
}
.download-cv {
  padding: 1rem 2rem;
  background-color: aqua;
  border: none;
  border-radius: 1.5rem;
  margin-top: 2rem;
  box-shadow: 0.5rem 0rem 3rem rgb(74, 75, 74);
}
.download-cv:hover {
  cursor: pointer;
  background-color: #fff;
  box-shadow: none;
}
.about-me img {
  height: 22rem;
  width: 22rem;
}

.about-me {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  height: 100vh;
}
.about-me img {
  width: 60%;
  margin: 0 auto;
  grid-column: 1/5;
}
.about-info {
  grid-column: 5/10;
  padding: 2rem;
}

.about-info h2 {
  font-size: 4.5rem;
  color: #191c32;
}
.about-info .divider {
  background-color: rgb(39, 243, 209);
  height: 0.4rem;
  margin-bottom: 1.4rem;
  width: 20rem;
}

.about-info p {
  margin-bottom: 2rem;
  font-weight: 400;
}
.portfolio {
  background-color: #191c32;
  width: 100vw;
  color: #fff;
}
.portfolio-head .divider {
  background-color: rgb(39, 243, 209);
  height: 0.4rem;
  margin-bottom: 1.4rem;
  width: 13.2rem;
}

.portfolio-head {
  width: 100vw;
  padding: 6rem;
}
.portfolio-head h2 {
  font-size: 4rem;
}

.container {
  display: flex;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  justify-content: center;
}
.card {
  width: 30rem;
  background-color: hsl(233, 69%, 19%);
  border-radius: 2rem;
  height: 35rem;
  margin: 2rem;
}
.card:hover {
  box-shadow: 0px 2px 5px rgba(196, 189, 189, 0.16),
    0px 2px 10px rgba(0, 0, 0, 0.12);
  transition: ease-in 0.4s;
}
.card__img {
  width: 100%;
  height: 15rem;
  background-image: url("./../images/img-ejemplo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1rem 1rem 0 0;
}
.card__title {
  padding: 1.5rem;
  text-align: center;
}

.card__projects--links {
  display: flex;
  justify-content: space-around;
}
.card__projects--links a {
  color: white;
  text-decoration: none;
  margin-top: 1rem;
}
.card__projects--links i {
  font-size: 2rem;
}
.container-button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.download-cv a {
  color: #191c32;
  text-decoration: none;
  font-size: 2rem;
}
.contact-me {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-head {
  padding: 3rem;
}
.contact-head .divider {
  background-color: rgb(39, 243, 209);
  height: 0.4rem;
  margin-bottom: 1.4rem;
  width: 12.5rem;
}

.contact-head h2 {
  font-size: 4.5rem;
  color: #191c32;
}
.contact-main {
  padding: 1rem;
  width: 40vw;
  height: 70vh;
  margin: 0 auto;
  background-color: #191c32;
  border-radius: 2rem;
}
.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.form .input {
  width: 60%;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  color: white;
  height: 3rem;
  font-family: "Roboto", sans-serif;
  margin: 1.5rem 0;
  padding-left: 1rem;
  outline-color: #191c32;
}

.form textarea {
  font-family: "Roboto", sans-serif;
  resize: none;
  width: 60%;
  background: none;
  color: white;
  outline-color: #191c32;
  border-radius: 1.2rem;
  height: 20rem;
  padding: 1rem 1rem;
}
.form .enviar {
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
  background-color: aqua;
  font-weight: 500;
  border: none;
}
.form .enviar:hover {
  cursor: pointer;
}

.footer {
  display: flex;
  background-color: #191c32;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20rem;
}
.content-footer h2 {
  font-size: 5rem;
}
.content-footer h4,
i {
  font-size: 3rem;
}
.social-network {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 30rem;
  height: 30rem;
}
