@media only screen and (max-width: 360px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
  }
  body {
    font-size: 1.6rem;
    overflow-x: hidden;
  }
  body::-webkit-scrollbar {
    width: 1.2rem;
    height: 5px;
    border-radius: 0.8rem;
  }
  body::-webkit-scrollbar-thumb {
    background: #191c32;
    border-radius: 4px;
  }

  /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
  body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Cambiamos el fondo cuando esté en active */
  body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }

  /* Ponemos un color de fondo y redondeamos las esquinas del track */
  body::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }

  /* Cambiamos el fondo cuando esté en active o hover */
  body::-webkit-scrollbar-track:hover,
  body::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
  .wrapper {
    background-color: #191c32;
    color: white;
    height: 100vh;
    width: 100vw;
  }
  .hamburguesa {
    display: flex;
    justify-content: space-between;
  }
  .brand h2 {
    font-size: 4rem;
  }
  .brand span {
    color: aqua;
  }
  .hamburguesa--icon {
    width: 6rem;
    height: 4rem;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .fas {
    font-size: 2rem;
    cursor: pointer;
  }
  .nav {
    position: relative;
  }
  .nav .nav--menu {
    position: absolute;
    width: 100%;
    height: 81vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transform: translateX(100%);
    transition: all 1s;
  }
  .nav .nav--menu li {
    list-style: none;
  }
  .nav .nav--menu li a {
    font-size: 2rem;
    text-decoration: none;
    color: black;
  }
  .nav .nav--menu li a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .nav .nav__menu--togle {
    transform: translateX(0%);
    transition: all 1s;
  }
  .content {
    width: 93vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .about-me {
    width: 100vw;
    height: 160vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-me img {
    width: 200px;
    height: 200px;
  }
  .about-info {
    width: 100vw;
    height: 100vh;
  }
  .portfolio {
    width: 100vw;
    height: 120vh;
    display: inline-block;
    height: auto;
  }
  .portfolio-head {
    display: flex;
    justify-content: flex-start;
    width: 110vw;
    display: inline-block;
    padding: 2rem 3rem;
  }
  .container {
    width: 100vw;
    height: inherit;
    display: grid;
    flex-wrap: wrap;
    align-items: stretch;
    grid-template-columns: repeat(8, 2fr);
  }
  .card {
    width: 27rem;
    background-color: hsl(233, 69%, 19%);
    border-radius: 2rem;
    height: 35rem;
    grid-column: 2/8;
  }
  .card:hover {
    box-shadow: 0px 2px 5px rgba(170, 167, 167, 0.16),
      0px 2px 10px rgba(41, 40, 40, 0.12);
    transition: ease-in 0.4s;
  }
  .card__img {
    width: 100%;
    height: 15rem;
    background-image: url("./../images/img-ejemplo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem 1rem 0 0;
  }
  .card__title {
    padding: 1.5rem;
    text-align: center;
  }

  .card__projects--links {
    display: flex;
    justify-content: space-around;
  }
  .card__projects--links a {
    color: white;
    text-decoration: none;
    margin-top: 1rem;
  }
  .card__projects--links i {
    font-size: 2rem;
  }
  /* .container-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  } */
  .footer {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    padding: 1rem;
  }
  .content-footer {
    align-items: center;
  }
  .content-footer h2 {
    font-size: 4rem;
  }
  .content-footer h4 {
    font-size: 2rem;
  }
}
