* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-size: 1.6rem;
  overflow-x: hidden;
}
.wrapper {
  background-color: #191c32;
  color: white;
  height: 100vh;
  width: 100vw;
}
.hamburguesa {
  display: flex;
  justify-content: space-between;
}
.brand h2 {
  font-size: 4rem;
  padding-left: 0.6rem;
}
.brand span {
  color: aqua;
}
.hamburguesa--icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.fas {
  font-size: 2rem;
  cursor: pointer;
}
.nav {
  position: relative;
}
.nav .nav--menu {
  position: absolute;
  width: 100%;
  height: 80vh;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transform: translateX(200%);
  transition: all 1s;
  top: 65px;
  left: -2px;
}
.nav .nav--menu li {
  list-style: none;
}
.nav .nav--menu li a {
  font-size: 2rem;
  font-weight: 450;
  text-decoration: none;
  color: black;
}
.nav .nav--menu li a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.nav .nav__menu--togle {
  transform: translateX(0%);
  transition: ease-in-out 0.5s;
}
.ocultarBtn {
  opacity: 0;
}
.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.content .content__presentation {
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.download-cv {
  border: none;
  border-radius: 1rem;
  background-color: aqua;
  color: #000;
  position: relative;
  left: calc(50% - 85px);
  text-decoration: none;
  padding: 1rem 2rem;
  /* bottom: calc(-100% + 15px); */
  bottom: cal(-60% + 50px);
  height: 40px;
  width: 180px;
  box-shadow: 0.5rem 0rem 3rem rgb(74, 75, 74);
}
.about-me {
  display: flex;
  flex-direction: column;
  height: 125vh;
  justify-content: center;
  width: 100vw;
}
.about-me img {
  border-radius: 1rem;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}
.about-info {
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  margin-top: 2rem;
}
.divider {
  border-bottom: 3px solid aqua;
  height: 4px;
  width: 40vw;
  margin-bottom: 2.5rem;
}
.portfolio {
  width: 100vw;
  display: inline-block;
  height: auto;
  background-color: #191c32;
}
.portfolio-head {
  display: flex;
  justify-content: flex-start;
  width: 110vw;
  display: inline-block;
  padding: 2rem 3rem;
}
.portfolio-head h2 {
  color: #ffffff;
}
.container {
  align-items: center;
  width: 100vw;
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card {
  width: 27rem;
  background-color: hsl(233, 69%, 19%);
  border-radius: 2rem;
  height: 35rem;
  margin: 1rem;
}
.card:hover {
  box-shadow: 0px 2px 5px rgba(170, 167, 167, 0.16),
    0px 2px 10px rgba(41, 40, 40, 0.12);
  transition: ease-in 0.4s;
}
.card__img {
  width: 100%;
  height: 15rem;
  background-image: url("./../images/img-ejemplo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1rem 1rem 0 0;
}
.card__title {
  padding: 1.5rem;
  text-align: center;
}

.card__projects--links {
  display: flex;
  justify-content: space-around;
}
.card__projects--links a {
  color: white;
  text-decoration: none;
  margin-top: 1rem;
}
.card__projects--links i {
  font-size: 2rem;
}
.viewProject {
  background-color: aqua;
  border-radius: 1.4rem;
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: calc(50% - 75px);
  top: 40px;
}
.viewProject a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000000;
}
.contact-me {
  height: 100vh;
  width: 110vw;
  background-color: #ffffff;
}
.contact-head {
  display: flex;
  justify-content: flex-start;
  width: 110vw;
  display: inline-block;
  padding: 1rem 2rem;
}
#trucazo {
  opacity: 0;
}
#form-contact {
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  height: 40px;
  border-radius: 1rem;
  padding-left: 1rem;
  border-color: #191c32;
  outline: none;
  width: 90%;
  margin: 1rem 0;
}
.textarea {
  padding-left: 1rem;
  padding-top: 1rem;
  border: 2px solid #191c32;
  border-radius: 1rem;
  outline: none;
  width: 90%;
}

.enviar {
  height: 45px;
  width: 180px;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: aqua;
  position: relative;
  bottom: calc(14% - 85px);
  font-size: 1.7rem;
  font-weight: 500;
}

.footer {
  width: 100vw;
  height: 60vh;
  display: inline-block;
  padding: 1rem;
  background-color: #191c32;
}
.content-footer {
  align-items: center;
  width: 100%;
}
.content-footer h2 {
  font-size: 3.5rem;
}
.content-footer h4 {
  font-size: 3rem;
}
.social-network {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-network a {
  margin: 2.5rem 2rem;
  font-size: 4rem;
}
